[submodule "dependencies/fast_gicp"]
	path = dependencies/fast_gicp
	url = https://github.com/SMRT-AIST/fast_gicp.git
[submodule "core/pybind11"]
	path = core/pybind11
	url =  https://github.com/pybind/pybind11.git
	branch = stable
[submodule "core/pcl"]
	path = core/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
